<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>Cantidad de Recursos por Terapia</h1>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Columna Terapia -->
    <ng-container matColumnDef="tipoTerapia">
      <th mat-header-cell *matHeaderCellDef> Terapia </th>
      <td mat-cell *matCellDef="let element"> {{ element.tipoTerapia }} </td>
    </ng-container>

    <!-- Columna Cantidad -->
    <ng-container matColumnDef="cantidadRecursos">
      <th mat-header-cell *matHeaderCellDef> Recursos </th>
      <td mat-cell *matCellDef="let element"> {{ element.cantidadRecursos }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="no-data-row" *matNoDataRow>
      <td colspan="2" style="text-align: center; padding: 20px;">
        No hay datos disponibles.
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
