<div class="container">
  <div style="text-align: center; margin:5%"><h1>Registro de tests realizados</h1></div>
  <div style="text-align: center; margin:5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <div class="form-grid">
        <div class="left-column">
          <mat-form-field *ngIf="edicion">
            <mat-label>ID</mat-label>
            <input matInput formControlName="codigo" readonly/>
            
          </mat-form-field>

          <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          <mat-form-field>
            <mat-label>Resultado</mat-label>
            <input matInput formControlName="resultado">
            <mat-error *ngIf="form.get('resultado')?.hasError('required')">
              El resultado es obligatorio!!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="right-column">
          <mat-form-field>
            <mat-label>Paciente</mat-label>
              <mat-select formControlName="usuario">
                <mat-option *ngFor="let t of listaUsuarios" [value]="t.idUsuario">
                  {{ t.nombre }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('usuario')?.hasError('required')">
                El nombre del paciente es obligatorio.
              </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Test</mat-label>
            <mat-select formControlName="test">
                <mat-option *ngFor="let t of listaTests" [value]="t.idTest">
                  {{ t.titulo }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('test')?.hasError('required')">
                El test es obligatorio.
              </mat-error>
          </mat-form-field>
        </div>
      </div>

      <button mat-flat-button color="primary" class="btn-accion">Registrar</button>
    </form>
  </div>
</div>
 