<div class="container">
  <div><h1>Lista de terapias</h1></div>

  <div style="text-align: center; margin-bottom: 20px;">
    <button mat-flat-button color="primary" [routerLink]="['nuevo']">+ Nueva Terapia</button>
  </div>

  <div class="card-container">
    <mat-card class="card-terapia" *ngFor="let terapia of dataSource.data">
      <mat-icon class="icon-terapia">self_improvement</mat-icon>
      <h2>{{ terapia.titulo }}</h2>
      <p>{{ terapia.descripcion }}</p>

      <div class="card-buttons">
        <button mat-icon-button color="accent" [routerLink]="['/terapias/ediciones', terapia.idTerapia]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(terapia.idTerapia)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

  <div class="paginator-container">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
