.dashboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9FAFC;
}

.bienvenida-card {
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #EFF2F7;
}
