<div class="container">
  <h1>Lista de Roles</h1>

  <button mat-flat-button color="primary" class="btn-accion-nuevo" [routerLink]="['nuevo']">+ Nuevo Rol</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="idRol">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.idRol }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="accent" class="btn-accion" [routerLink]="['ediciones', element.idRol]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" class="btn-accion" (click)="eliminar(element.idRol)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
