<div class="container">
  <div><h1>{{ edicion ? 'Editar rol' : 'Registro de rol' }}</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre del rol</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre del rol es obligatorio.
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="btn-accion">Guardar</button>
    </form>
  </div>
</div>
