<div class="title-container">

  <div style="text-align: center" class="title">
    <h1>Cantidad de citas por terapia</h1>
  </div>

  <div style="text-align: center" class="chart-container">
        <canvas
        *ngIf="!noData"
   
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"       
        >
        </canvas>  
        
        <div *ngIf="noData" class="no-data-message">
          <p>No hay datos para mostrar.</p>
        </div>
  </div>
</div>

