<div class="container">
  <div><h1>Registro de usuarios</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" />
        <mat-error *ngIf="form.get('apellido')?.hasError('required')">
          El apellido es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" />
        <mat-error *ngIf="form.get('correo')?.hasError('required')">
          El correo es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasena" />
        <mat-error *ngIf="form.get('contrasena')?.hasError('required')">
          La contraseña es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" />
        <mat-error *ngIf="form.get('dni')?.hasError('required')">
          El DNI es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Especialidad</mat-label>
        <input matInput formControlName="especialidad" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Credencial</mat-label>
        <input matInput formControlName="credencial" />
      </mat-form-field>

      <mat-checkbox formControlName="enabled">Habilitado</mat-checkbox>

      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="idRol">
          <mat-option *ngFor="let r of listaRoles" [value]="r.idRol">
            {{ r.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('idRol')?.hasError('required')">
          El rol es obligatorio.
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="btn-accion">Registrar</button>
    </form>
  </div>
</div>
