.custom-toolbar {
  background-color: #1F2D3D; /* rgb(31, 45, 61) */
  overflow-x: auto;
  white-space: nowrap;
}

.custom-toolbar button {
  color: white;
  font-weight: 500;
  margin-right: 6px;
}

.custom-toolbar mat-icon {
  margin-right: 4px;
  color: white;
}

.btn-test {
  background-color: #050504; /* negro personalizado según tu paleta */
  border-radius: 4px;
  padding: 6px 12px;
}

/* Si no usas la clase btn-rojo, puedes eliminar esto completamente */
.btn-rojo:hover {
  background-color: #1F2D3D;
}

.btn-rojo mat-icon {
  color: white;
}

::ng-deep .mat-mdc-menu-panel {
  background-color: #1F2D3D !important;
  color: white !important;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  opacity: 1 !important;
}

::ng-deep .mat-mdc-menu-item {
  color: white !important;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

::ng-deep .mat-mdc-menu-item:hover {
  background-color: #3F51B5 !important; /* reemplaza #3949ab por color primario */
}